configuration {
  modes: [ combi ];
  combi-modes: [ window, drun, run ];
}

@theme "solarized"

* {
 font: "FiraCode Nerd Font Mono 15";
}

element-text {
 background-color: inherit;
 text-color: inherit;
}
